<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" type="text/css" href="/static/public/vendor/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/static/public/vendor/font-awesome/css/font-awesome.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/auth/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6 col-sm-offset-3">
			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>

					<p>
						<strong>id</strong>: <%= user.id %><br>
						<strong>firstName</strong>: <%= user.firstName %><br>
						<strong>lastName</strong>: <%= user.lastName %><br>
						<strong>email</strong>: <%= user.email %><br>
						<strong>isApproved</strong>: <%= user.isApproved %><br>
						<strong>isAdmin</strong>: <%= user.isAdmin %><br>
						<strong>role</strong>: <%= user.role %><br>
					</p>

			</div>
		</div>

	</div>

</div>
</body>
</html>